// ====================
// Nextflow Config for Ribodepleted RNA-seq (Sockeye)
// ====================

params {
  // Data input
  reads           = "/arc/project/st-bstefans-1/datasets/Cayla/RNA_seq/fastq/*_{R1,R2}_001.fastq.gz"

  // Reference data
  genomeFasta     = "/arc/project/st-bstefans-1/datasets/genomes/human/fasta/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
  gtf             = "/arc/project/st-bstefans-1/datasets/genomes/human/annotation/Homo_sapiens.GRCh38.113.gtf.gz"
  gff             = "/arc/project/st-bstefans-1/datasets/genomes/human/annotation/Homo_sapiens.GRCh38.113.gff3.gz"
  starIndex       = "/scratch/st-bstefans-1/mtello/ribodepleted_rnaseq/star_index/"

  // ncRNA / miRNA references
  ncrnaFasta      = "/arc/project/st-bstefans-1/datasets/genomes/human/fasta/Homo_sapiens.GRCh38.ncrna.fa.gz"
  cdnaFasta       = "/arc/project/st-bstefans-1/datasets/genomes/human/fasta/Homo_sapiens.GRCh38.cdna.all.fa.gz"

  // Output root
  outdir          = "/scratch/st-bstefans-1/mtello/ribodepleted_rnaseq/output"
}

process {
  executor       = 'slurm'
  queue          = 'skylake'
  clusterOptions = '--account=st-bstefans-1  --nodes=1'
  scratch        = true
  time           = '3h'
  cpus           = 1
  memory         = { def req = 4.GB * task.attempt; req < 768.GB ? req : 768.GB }
  maxRetries     = 1
  errorStrategy  = { task.exitStatus in [125,139] ? 'retry' : 'finish' }
  conda          = '/arc/project/st-bstefans-1/mtello/software/miniconda3/envs/rnaseq_riboD_env'

  withName: FastQC {
    cpus   = 2
    memory = '4 GB'
  }

  withName: Trimmomatic {
    cpus   = 4
    memory = '6 GB'
    time   = '1h'
  }

  withName: STARindex {
    cpus   = 16       
    memory = '100 GB' 
    time   = '2h'
  }

  withName: STAR {
    cpus   = 16
    memory = '80 GB'
    time   = '2h'
  }
}

executor {
  queueSize       = 200
  pollInterval    = '60 sec'
  submitRateLimit = '60/1min'
}

report {
  enabled   = true
  overwrite = true
}

profiles {
  sockeye {
    process.executor = 'slurm'
    max_memory = '768.GB'
    max_cpu    = 40
    max_time   = '168.h'
  }
}